* {
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.warpper {
  margin : 50% auto;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.warpper .timer {
  width: 60%;
  margin:auto ;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
}

.timer span {
  font-size: 60px;
  margin: 3px 5px;
  user-select: none;
}

.timer .mil {
  color:rgba(114, 86, 44, 0.444);
}

.button {

  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  display: none;
}

.button button {
  font-size: 30px;
  background-color: #fff;
  border: none;
  height: 50px;
  padding : 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}


.button .reset {
  color:red;
}

.button button:hover {
  background-color: #ccc;
}

.button-2 {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  display: none;
}

.button-2 button {
  font-size: 30px;
  background-color: #fff;
  border: none;
  height: 50px;
  padding :5px 11px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.button-2 .reset {
  color:red;
}

.button-2 button:hover {
  background-color: #ccc;
}

#active {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width:768px){

  
  .warpper {
    margin : 50% auto;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    align-items: center;
  }

  .warpper .timer {
    width: 100%;
    margin:auto ;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .button button {
    font-size: 30px;
    background-color: #fff;
    border: none;
    height: 50px;
    padding : 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }


}