@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Noto+Sans+TC:wght@400;500&family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
  --bg-black-900:#f2f2fc;
  --bg-black-100:#fdf9ff;
  --bg-black-50:#e8dfec;
  --text-black-900:#302e4d;
  --text-black-700:#504e70;
}

body {
  margin: 0;
  pad: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins' sans-serif;
  overflow-x: hidden ;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  transition: all 0.3s ease;
}

.hidden {
  display: none !important;
}

.main-content {
  padding-left: 270px;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section-title h2::before {
  content: "";
  height: 4px;
  width: 150px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}

/* flex-warp :設定換行 */
.row {
  display: flex;
  flex-wrap: wrap; 
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  border: none;
  display: inline-block;
  background: var(--skin-color);
  transition: all 0.3s ease ;
}

.btn:hover {
  background: #c6142f;
}

/* offset-x | offset-y | blur-radius | color */
.shadow-dark {
  box-shadow: 0 0 20px rgba(48 , 46 , 77 , 0.15);
}

.aside {
  width: 270px;
  background-color: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
}

.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
.aside .logo a {
  color: var(--text-black-900);
  font-weight:700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}
.aside .logo a span {
  font-family: "Clicker Script",cursive;
  font-size: 40px;
}
.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  top: 0;
  left: 0;
}


.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}

.aside .nav-toggler span::before{
  content: "";
  height :2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left:0
}
.aside .nav-toggler span::after{
  content: "";
  height :2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left:0
}

.aside .nav {
  margin-top: 50px;
}

.aside .nav li {
  margin-bottom: 20px;
  display: block;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block; 
  border-bottom: 1px solid var(--bg-black-50);
  color:var(--text-black-900);
  padding: 5px 15px;
}


.aside .nav li a i {
  margin-right:15px ;
}

.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}
/* flex-grow / flex-shrink / flex-basis 
    flex-grow 預設值爲 0。依照設定比例分配剩餘空間。
    flex-shrink 是 flex-grow 的反向，有剩餘空間，就表示也有不夠空間的時候。flex-shrink 表示空間不夠時的壓縮比例。預設值爲 1。表示大家被壓縮的比例相同。
    flex-basis 預設值爲 auto，表示其預設分配到的空間，與 width 很像，但優先程度較高。
*/
.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}

.home .home-info p {
  font-family: "Noto Sans Traditional Chinese",sans-serif;
  padding-top: 20px;
}

h3.hello {
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span {
  font-family: 'Clicker Script' , cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}

h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}

.typing{
  color: var(--skin-color);
}

.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}

.home .home-img {
  flex:  0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}

.home-img::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right : 20px ;
  bottom: -40px;
}

.home .home-img img {
  margin: auto;
  border-radius: 6px;
  height: 400px;
}

.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;

}

.about .about-content .about-text {
  flex: 0 0 100%;
  max-width:100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700px;
  color: var(--text-black-900);
}
.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}

.about .about-content .personal-info {
  flex : 0 0 60% ;
  max-width: 60%;
  margin-top: 40px;
}

.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

.about .about-content .education , .about .about-content .experience {
  flex: 0 0 100% ;
  max-width: 100%;
  margin-top: 30px;
}

.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.timeline .timeline-item {
  position: relative;
  padding-left: 37px;
}

.timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}

.timeline-item .timeline-title {
  margin-top: 10px;
}


.timeline-item img {
  max-width: 100px;
  position: absolute;
  top: -18px;
  right: 20px;
}

.timeline-item .timeline-title .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}




.about .about-content .time-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .time {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.about .about-content .time .time-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
  
}

.about .about-content .time .time-item:last-child{
  padding-bottom: 0px;
}

.about .about-content .time .time-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}

.about .about-content .time .time-item .img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .about-content .time .time-item .img p {
 font-size: 15px;
 color: gray;
 padding: 5px;
}

.about .about-content .time .time-item .time-text{
  padding: 10px;
}

.about .about-content .time .time-item .time-text  {
  text-decoration: none;
  font-family:"Noto Sans Traditional Chinese Regular 400", sans-serif ;
  text-align:justify;
}


.about .about-content .time .time-item img {
  width: 700px;
  margin-top: 10px;
  max-height:300px ;
  transition: all 0.2s ease;
}


.about .about-content .time .time-item #react {
  width: 400px;
  margin-top: 10px;
  max-height:400px ;
}

 .time .timecircle-dot 
{
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.time-item .time-title {
  margin-top: 10px;
}

.time-item .time-title .time-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}

.portfolio .container {
  padding-bottom: 40px;
}
.portfolio .portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
}
.portfolio .portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
  margin-bottom: 20px;
}

.portfolio .row-portfolio {
  flex:  0 0 90%;
  max-width: 90%;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.portfolio .portfolio-item-inner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  max-height: 350px;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 112%;
}

.portfolio .portfolio-item-inner .portfolio-img{
  font-size: 1.5rem;
  flex-wrap: wrap;
  width: 50%;
}

.portfolio .portfolio-item-inner .portfolio-img h2 {
  font-family: 'Poppins', sans-serif;
  padding: 0px 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.portfolio .portfolio-item-inner .portfolio-img a,.portfolio .portfolio-item-inner .portfolio-img h3 {
  display: inline-block;
} 

.portfolio .portfolio-item-inner .portfolio-img .h4 {
  font-family: 'Poppins', sans-serif;
  padding: 3px 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

.portfolio .portfolio-item-inner .portfolio-img .lg {
  font-family: 'Poppins', sans-serif;
  padding: 3px 6px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 22px;
}

.portfolio .portfolio-item-inner .portfolio-img .sm {
  display: none;
}

.portfolio .portfolio-item-inner .portfolio-img h3 {
  font-family: 'Poppins', sans-serif;
  padding: 30px 30px;
  font-size: 18px;
}

.portfolio .portfolio-item-inner img {
  width: 360px;
  height: 280px;
  transition: all 0.3s ease;
  /* position: absolute; */
}

.portfolio .portfolio-item-inner img:hover {
  transform: scale(1.5);
  z-index: 100;
}

.portfolio .portfolio-item-inner .last:hover {
  transform: scale(1);
  cursor: default;
}

@media (max-width:1199px) {
  .aside {
    left: -270px;
  }

  .aside.open{
    left: 0;
  }

  .aside .nav-toggler{
    display: flex;
    left:30px;
  }

  .aside .nav-toggler.open {
    left: 300px
  }

  .section {
    left: 0;
  }

  .main-content {
    padding-left: 0;
  }
  .about .about-content .personal-info .info-item p span{
    display: block;
    margin-left: 0;
  }
}

@media (max-width:991px){

  .about .about-content .education {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .experience {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .portfolio .portfolio-item-inner{
    width: 113%;
  }

  .portfolio .portfolio-item-inner img {
    display: none;
  } 

  .portfolio .portfolio-item-inner .portfolio-img{
    font-size: 1.5rem;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }

  .portfolio .portfolio-item-inner .portfolio-img .lg {
    display: none;
  }

  .portfolio .portfolio-item-inner .portfolio-img .title {
    margin-left:140px;
    margin-right:70px;
  }

  .portfolio .portfolio-item-inner .portfolio-img .title-Js {
    margin-left:160px;
  }

  .portfolio .portfolio-item-inner .portfolio-img .sm {
    display: block;
    font-family: 'Poppins', sans-serif;
    padding: 3px 6px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 22px;
    margin-left: 260px;
  }

  .portfolio .portfolio-item-inner .portfolio-img h2 {
    font-family: 'Poppins', sans-serif;
    padding: 0px 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 280px;
  }
  .portfolio .portfolio-item-inner .portfolio-img h3 {
    margin-left: 310px;
  }

  .portfolio .portfolio-item-inner .portfolio-img .wait {
    margin-left: 120px;
    margin-top: 20px;
  }


  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .home-img {
    display: none;
  }
}

@media (max-width:768px){
  .portfolio .portfolio-item-inner .portfolio-img h2 {
    margin-left: 150px;

  }

  .portfolio .portfolio-item-inner .portfolio-img .title {
    margin-left:70px;

  }

  .portfolio .portfolio-item-inner .portfolio-img .title-Js {
    margin-left:70px;
  }

  .portfolio .portfolio-item-inner .portfolio-img h3 {
    margin-top: -10px;
    margin-left: 200px;
  }

  .portfolio .portfolio-item-inner .portfolio-img .sm {
    margin-top: 10px;
    margin-left: 150px;
  }
}

/* 2:19:27*/